@page "/"

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using SkillTrackerFront.Components.Layout
@using SkillTrackerFront.Services
@using SkillTrackerFront.Services.Interface

@layout MainLayout
@inherits LayoutComponentBase
@inject IJSRuntime JS
@inject IDataFlow Flow
@inject AuthenticationStateProvider stateprovider
@inject LoadingService Loader

<LoaderSpin />

<div class="app-container">
    <button class="menu-toggle" @onclick="ToggleSidebar">
        <i class="fa-solid fa-bars"></i>
    </button>
    <div class="sidebar @(isSidebarOpen ? "open" : "")">
        <div class="sidebar-header">
            <div class="logo">
                <span class="logo-icon">
                    <svg class="icon" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                        <path d="M 13 4 C 11.089844 4 9.542969 5.386719 9.15625 7.1875 C 6.824219 7.605469 5 9.550781 5 12 C 5 12.246094 5.027344 12.464844 5.0625 12.6875 C 4.417969 13.636719 4 14.753906 4 16 C 4 17.796875 4.894531 19.308594 6.15625 20.40625 C 6.066406 20.761719 6 21.117188 6 21.5 C 6 23.972656 8.027344 26 10.5 26 C 10.527344 26 10.539063 26 10.5625 26 C 11.144531 27.128906 12.152344 28 13.5 28 C 14.476563 28 15.363281 27.589844 16 26.9375 C 16.636719 27.589844 17.523438 28 18.5 28 C 19.847656 28 20.855469 27.128906 21.4375 26 C 21.460938 26 21.472656 26 21.5 26 C 23.847656 26 25.773438 24.171875 25.96875 21.875 L 26 21.875 C 26 21.8125 25.972656 21.75 25.96875 21.6875 C 25.972656 21.625 26 21.5625 26 21.5 C 26 21.128906 25.867188 20.8125 25.78125 20.46875 C 27.078125 19.367188 28 17.828125 28 16 C 28 14.753906 27.582031 13.636719 26.9375 12.6875 C 26.972656 12.464844 27 12.246094 27 12 C 27 9.550781 25.175781 7.605469 22.84375 7.1875 C 22.457031 5.386719 20.910156 4 19 4 C 17.800781 4 16.734375 4.558594 16 5.40625 C 15.265625 4.558594 14.199219 4 13 4 Z M 13 6 C 14.117188 6 15 6.882813 15 8 L 15 10 C 15 11.667969 13.667969 13 12 13 L 12 15 C 13.132813 15 14.160156 14.609375 15 13.96875 L 15 24.5 C 15 25.339844 14.339844 26 13.5 26 C 12.753906 26 12.15625 25.484375 12.03125 24.78125 L 11.84375 23.8125 L 10.875 23.96875 C 10.699219 23.996094 10.589844 24 10.5 24 C 9.109375 24 8 22.890625 8 21.5 C 8 21.191406 8.050781 20.902344 8.15625 20.625 C 8.164063 20.601563 8.179688 20.585938 8.1875 20.5625 C 8.496094 19.792969 9.167969 19.230469 10 19.0625 L 9.59375 17.09375 C 8.550781 17.304688 7.644531 17.859375 7 18.65625 C 6.371094 17.953125 6 17.023438 6 16 C 6 15.0625 6.320313 14.226563 6.875 13.53125 L 7.1875 13.15625 L 7.09375 12.65625 C 7.039063 12.421875 7 12.214844 7 12 C 7 10.332031 8.332031 9 10 9 L 11 9 L 11 8 C 11 6.882813 11.882813 6 13 6 Z M 19 6 C 20.117188 6 21 6.882813 21 8 L 21 9 L 22 9 C 23.667969 9 25 10.332031 25 12 C 25 12.214844 24.960938 12.421875 24.90625 12.65625 L 24.8125 13.15625 L 25.125 13.53125 C 25.679688 14.226563 26 15.0625 26 16 C 26 17.199219 25.488281 18.269531 24.65625 19 C 23.972656 18.394531 23.101563 18 22.125 18 C 21.179688 18 20.328125 18.335938 19.65625 18.90625 L 20.9375 20.4375 C 21.261719 20.164063 21.660156 20 22.125 20 C 23.089844 20 23.859375 20.722656 23.96875 21.65625 C 23.886719 22.972656 22.835938 24 21.5 24 C 21.410156 24 21.300781 23.996094 21.125 23.96875 L 20.15625 23.8125 L 19.96875 24.78125 C 19.84375 25.484375 19.246094 26 18.5 26 C 17.660156 26 17 25.339844 17 24.5 L 17 13.96875 C 17.839844 14.609375 18.867188 15 20 15 L 20 13 C 18.332031 13 17 11.667969 17 10 L 17 8 C 17 6.882813 17.882813 6 19 6 Z"></path>
                    </svg>
                </span>
                <span class="logo-text">SmartNote</span>
            </div>
        </div>

        <div class="top-btn-con">
            <button class="new-note-btn" @onclick="CreateNewNote">
                <span class="plus">+</span> New Note
            </button>
  
            <div class="search-box">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Search notes..." @bind="SearchTerm" />
            </div>
        </div>

        <div class="btn-con-filter">
            <button class="filter-note-btn active" @onclick="GetOpenNotes">
                <i class="fa-solid fa-inbox"></i>
                Open Notes
            </button>

            <button class="filter-note-btn" @onclick="GetUrcheiveNotes">
                <i class="fa-solid fa-box-archive"></i>
                Archeive Notes
            </button>
        </div>

        <div class="notes-list">
            @if (notes.Any())
            {
                foreach (var note in notes)
                {
                    <div class="note-item @(note.IsSelected ? "select" : "")"
                         @onclick="() => SelectNote(note)">

                        @if (note.IsPinned == true)
                        {
                            <i class="fa-solid fa-thumbtack"></i>

                        }

                        <div style="display:flex;justify-content:space-between">
                            <div class="note-title">
                                @note.Title
                            </div>
                        
                        </div>
                        <div class="note-preview">
                            @GetPreviewText(note.NotesText)
                        </div>
                    </div>
                }
            }
            
        </div>

        @*    @foreach (var note in notes.OrderByDescending(n => n.IsPinned).ThenBy(n => n.Title))
        {
            <div class="note-item @(note.IsSelected ? "selected" : "")"
                 @onclick="() => SelectNote(note)">

                <div style="display:flex;justify-content:space-between;align-items:center">

                    <div class="note-title">

                        @if (note.IsPinned)
                        {
                            <i class="fa-solid fa-thumbtack pin-icon"></i>
                        }

                        @note.Title
                    </div>

                    <div>
                        <i class="fa-solid fa-trash delete-icon"
                           @onclick="@(e => DeleteNote(note, e))"></i>
                    </div>

                </div>

                <div class="note-preview">@note.NotesText</div>

            </div>
        }
 *@

        <!-- Settings Section -->

        <div class="sidebar-footer">
            <div class="appearance-header" @onclick="ToggleAppearance"
                 style="display:flex; justify-content:space-between; cursor:pointer;">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="20" style="color:var(--accent-color)" viewBox="0 0 24 24"
                         fill="none" stroke="currentColor" stroke-width="2"
                         stroke-linecap="round" stroke-linejoin="round"
                         class="lucide lucide-palette w-3.5 h-3.5"
                         aria-hidden="true">
                        <path d="M12 22a1 1 0 0 1 0-20 10 9 0 0 1 10 9 5 5 0 0 1-5 5h-2.25a1.75 1.75 0 0 0-1.4 2.8l.3.4a1.75 1.75 0 0 1-1.4 2.8z"></path>
                        <circle cx="13.5" cy="6.5" r=".5" fill="currentColor"></circle>
                        <circle cx="17.5" cy="10.5" r=".5" fill="currentColor"></circle>
                        <circle cx="6.5" cy="12.5" r=".5" fill="currentColor"></circle>
                        <circle cx="8.5" cy="7.5" r=".5" fill="currentColor"></circle>
                    </svg>
                    Appearance
                </span>
                <i class="fa-solid @(isAppearanceOpen ? "fa-chevron-up" : "fa-chevron-down")"></i>
            </div>

            @if (isAppearanceOpen)
            {
                <div class="appearance-body">
                    <div class="setting-group" style="display: flex;
                        flex-direction: row;
                        justify-content: space-between;">
                        <label>Theme</label>
                        <span class="theme-toggle" @onclick="ToggleTheme">
                            <i class="fa-solid @(isDarkMode ? "fa-sun" : "fa-moon")"></i>
                        </span>
                    </div>
                    <div class="setting-group">
                        <label>Accent Color</label>
                        <input type="color" value="@accentColor" @oninput="ChangeAccentColor" />
                    </div>

                    <div class="custom-dropdown1">
                        <label>Font</label>

                        <div class="selected1" @onclick='() => ToggleDropdown("fontfamily")'>
                            @SelectedFont<span>
                            <i class="fa-solid @(isfontfamilyModOpen ? "fa-chevron-up" : "fa-chevron-down")"></i>
                        </span>
                    </div>

                    @if (isfontfamilyModOpen)
                    {
                        <div class="dropdown-list1">
                            @foreach (var item in AvailableFonts)
                            {
                                <div class="dropdown-item1"
                                     @onclick='() => SelectItem(item, "fontfamily")'>
                                    @item
                                </div>
                            }
                        </div>
                    }
                </div>

                <div class="custom-dropdown1">
                    <label>Size</label>

                    <div class="selected1" @onclick='() => ToggleDropdown("fontsize")'>
                        @SelectedSize
                        <span>
                            <i class="fa-solid @(isfontModOpen ? "fa-chevron-down" : "fa-chevron-up")"></i>
                        </span>
                    </div>

                    @if (isfontModOpen)
                    {
                        <div class="dropdown-list1">
                            @foreach (var item in AvailableFontSizes)
                            {
                                <div class="dropdown-item1"
                                     @onclick='() => SelectItem(item, "fontsize")'>
                                    @item
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
                


        }

    </div>
    <div style="display:flex;justify-content:space-between">
        <p style="color:var(--accent-color);padding:62px 10px 10px 10px!important;margin:0px!important;font-size:22px">@Username</p>
        <button class="signout-btn" @onclick="SignOut">
            <i class="fa-solid fa-right-from-bracket"></i>
        </button>
    </div>
</div>

<!-- Main Content -->
<div class="main-content">
    <header class="top-bar">
        <div class="top-left">
            @if (selectedNote != null)
            {
                <input class="note-title-input"
                       placeholder="Untitled Note"
                       @bind="selectedNote.Title" style="padding-top:25px;font-family:@SelectedFont" />
            }
               
            @*     <select class="workspace-select" @bind="SelectedWorkspace">
                    <option>General</option>
                    <option>Personal</option>
                    <option>Work</option>
                </select> *@           
        </div>

        <div class="top-right">
            <div class="note-header">
                <div class="note-actions1">
                    <div class="custom-dropdown">
                        <div class="selected" @onclick='() => ToggleDropdown("Workspace")'>
                            @SelectedWorkspace<span>
                            <i class="fa-solid @(isWPModOpen ? "fa-chevron-up" : "fa-chevron-down")"></i>
                        </span>
                    </div>

                    @if (isWPModOpen)
                    {
                        <div class="dropdown-list">
                            @foreach (var item in LZ_Workspaces)
                            {
                                <div class="dropdown-item"
                                     @onclick='() => SelectItem(item, "Workspace")'>
                                    @item
                                </div>
                            }
                        </div>
                    }
                </div>

            </div>
            <div class="note-actions2">
                <button class="icon-btn" @onclick="TogglePin" title="Pin/Unpin">
                    <i class="fa-solid @(selectedNote?.IsPinned == true ? "fa-thumbtack-slash" : "fa-thumbtack")"></i>
                </button>
                <button @onclick="CopyNoteText" class="icon-btn" title="Copy">
                    <i class="fa-solid fa-copy"></i>
                </button>

                <button @onclick="UrcheiveNotes" class="icon-btn" title="Archieve/Unarcheive">
                    <i class="fa-solid @(selectedNote?.IsUrcheive == true ? "fa-arrow-up" : "fa-box-archive")"></i>
                </button>
                <button @onclick="ConfirmDeleteNote" class="icon-btn" title="Delete">
                    <i class="fa-solid fa-trash"></i>
                </button>
                
                <button @onclick="OpenDownloadModel" class="icon-btn" title="download">
                    <i class="fa-solid fa-download"></i>
                </button>



            </div>


        </div>



            
    </div>
</header>

         
@if (selectedNote != null)
{

    @if (selectedNote != null)
    {
        <input class="mobile-note-title-input"
               placeholder="Untitled Note"
               @bind="selectedNote.Title" style="padding-top:25px;font-family:@SelectedFont" />
    }

    <div style="display:flex;justify-content:space-between">
      
        <div class="icon-btn-con" style="padding:12px">
            <button class="icon-btn" @onclick='() => Format("bold")'>
                <i class="fa-solid fa-bold"></i>
            </button>

            <button class="icon-btn" @onclick='() => Format("italic")'>
                <i class="fa-solid fa-italic"></i>
            </button>

            <button class="icon-btn" @onclick='() => Format("underline")'>
                <i class="fa-solid fa-underline"></i>
            </button>

            <!-- Lists -->
            <button class="icon-btn" @onclick='() => Format("insertOrderedList")'>
                <i class="fa-solid fa-list-ol"></i>
            </button>

            <button class="icon-btn" @onclick='() => Format("insertUnorderedList")'>
                <i class="fa-solid fa-list-ul"></i>
            </button>

        </div>
        <div class="save-con" style="padding:15px">
            <button class="save-btn" @onclick="SaveNotes">Save</button>
        </div>
    </div>
    <main class="content-area">
        <div class="note-editor">
            @* <textarea id="editor" class="note-textarea"
                      placeholder="Start writing..."
                      style="font-size:@FontSize;font-family:@SelectedFont"
                      @bind="selectedNote.NotesText"
                      @oninput="CountWords"></textarea> *@

            <div id="editor"
                 contenteditable="true"
                 class="note-textarea"
                 style="font-size:@FontSize; font-family:@SelectedFont;padding:15px;outline:none;"
                 @oninput="CountWords">
            </div>
        </div>
    </main>

    <div class="wordcount-con" style="text-align:right;padding:10px 20px 0px 0px">
        <span class="word-count">@countOfWords words</span>

    </div>
}
else
{
    <div class="empty-editor">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-book-open w-12 h-12 mx-auto mb-3 opacity-40"><path d="M12 7v14"></path><path d="M3 18a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h5a4 4 0 0 1 4 4 4 4 0 0 1 4-4h5a1 1 0 0 1 1 1v13a1 1 0 0 1-1 1h-6a3 3 0 0 0-3 3 3 3 0 0 0-3-3z"></path></svg>
        <h2>Select a note or create a new one</h2>
    </div>
}

                            
            



</div>
</div>

@if (isOpenDownMod)
{
    <div class="downModel-con">
        <div class="downModelCard">
            <p @onclick="downloadNotesTXT"><i class="fa-solid fa-file-arrow-down" style="color:var(--accent-color)"></i>  Export as .txt</p>
            <p @onclick="downloadNotesPDF"><i class="fa-solid fa-file-lines" style="color:var(--accent-color)"></i>  Export as .pdf</p>
        </div>
    </div>
  
}

@if (showDeleteModal)
{
    <div class="modal-overlay">
        <div class="modal-box">
            <h3>Delete Note</h3>
            <p>Are you sure you want to delete this note?</p>

            <div class="deleteBtns-Con">
                <button class="btn-cancel" @onclick="() => showDeleteModal = false">
                    Cancel
                </button>

                <button class="btn-delete" @onclick="DeleteNote">
                    Ok
                </button>
            </div>
        </div>
    </div>
}


@code {
    private bool isSidebarOpen = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && selectedNote != null)
        {
            await LoadEditorContent();
        }
    }


    void ToggleSidebar()
    {
        isSidebarOpen = !isSidebarOpen;
    }
}